<a href="https://colab.research.google.com/github/schizary/Site-PI-1-FATEC-FRANCA/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
TABADA

In [ ]:
num = int(input('escolha seu numero:'))
print(f'{num} * 1 = {num*1}')
print(f'{num} * 2 = {num*2}')
print(f'{num} * 3 = {num*3}')
print(f'{num} * 4 = {num*4}')
print(f'{num} * 5 = {num*5}')
print(f'{num} * 6 = {num*6}')
print(f'{num} * 7 = {num*7}')
print(f'{num} * 8 = {num*8}')
print(f'{num} * 9 = {num*9}')
print(f'{num} * 10 = {num*10}')

atividade2

In [ ]:
id1 = int(input('idade 1: '))
id2 = int(input('idade 2: '))
if (id1 > id2): #>, <, >=, ,<=, ==, !=
  print (f'maior idade:{id1}')
else:
  print(f'maior idade: {id2}')

atividade 4

In [10]:
dia = int(input('data do dia: '))
mes = int(input('mês: '))
ano = int(input('ano: '))
print (f'data =:{dia}/{mes}/{ano}')

data do dia: 2
mês: 3
ano: 2006
data =:2/3/2006

ATIVIDADE 2

In [13]:
a = int(input('valor A: '))
b = int(input('valor B: '))
c = 0
c= a
a=b
b=c
print(f'valores invertidos {a};{b}')

valor A: 2
valor B: 5
valores invertidos 5;2

at3

In [26]:
comb = (input('tipo de combustivel(digite A ou G): '))
kltr = float(input('quantidade de kilometros por litro: '))
km = float(input('quantos kilometros vai percorrer: '))
ltrs = km / kltr
a= 5.10
g = 3.45
valora = ltrs * a
valorg = ltrs * g

if (comb == 'a'):
  print(f'vai gastar {valora} reais ')
else:
  print(f'vai gastar {valorg}reais')

tipo de combustivel(digite A ou G): a
quantidade de kilometros por litro: 25
quantos kilometros vai percorrer: 100
vai gastar 20.4 reais

at5

In [31]:
valor = float(input('valor da compra: '))
desc = valor * 0.10
valdesc = valor - desc
if (valor>100):
  print(f'valor da compra com desconto: {valdesc}')
else:
  print(f'você não tem o suficiente para receber desconto, sua compra custou: {valor}')

valor da compra: 88
você não tem o suficiente para receber desconto, sua compra custou: 88.0

at6

In [46]:
c1nome = input('nome do candidato 1: ')
c1qv = float(input('quantidade de votos: '))
c2nome = input('nome do candidato 2: ')
c2qv = float(input('quantidade de votos: '))
t= c1qv + c2qv
prc1= c1qv / t * 100
prc2= c2qv / t * 100
if (c1qv>c2qv):
  print(f'O CANDIDATO {c1nome} OBTEVE {c1qv} VOTOS, O QUE REPRESENTA {round(prc1)}% DOS VOTOS TOTAIS')
  print(f'Em 2 lugar, o candidato {c2nome} obteve {c2qv} votos, o que representa {round(prc2)}% dos votos totais')
else:
  print(f'O CANDIDATO {c2nome} OBTEVE {c2qv} VOTOS, O QUE REPRESENTA {round(prc2)}% DOS VOTOS TOTAIS')
  print(f'Em 2 lugar, o candidato {c1nome} obteve {c1qv} votos, o que representa {round(prc1)}% dos votos totais')

nome do candidato 1: gerso
quantidade de votos: 34
nome do candidato 2: lincon
quantidade de votos: 97
O CANDIDATO lincon OBTEVE 97.0 VOTOS, O QUE REPRESENTA 74% DOS VOTOS TOTAIS
Em 2 lugar, o candidato gerso obteve 34.0 votos, o que representa 26% dos votos totais

AT7

In [51]:
n = input('nome do empregado: ')
s = float(input('salario do empregado: '))
if (s>5000):
  sd = s + s*0.05
  print(f'o {n}, de salario {s} entrou na faixa de 5% de aumento e o salario passou de {s} para {sd}')
else:
  sd2 = s + s*0.10
  print(f' o {n}, de salario {s} entrou na faixa de 10% de desconto e o salario passou de {s} para {sd2}')

nome do empregado: gerso
salario do empregado: 3000
 o gerso, de salario 3000.0 entrou na faixa de 10% de desconto e o salario passou de 3000.0 para 3300.0

at8

In [63]:
n1 = float(input('nota 1:'))
n2 = float(input('nota 2:'))
n3 = float(input('nota 3:'))
n4 = float(input('nota 4:'))
n5 = float(input('nota 5:'))
ng = round((n1 + n2 + n3 + n4 + n5) /5 , 1)
if (ng>=9):
  print(f'MENÇÃO DE DESTAQUE')
else:
  print(f'n recebe')

nota 1:1
nota 2:5
nota 3:4
nota 4:7
nota 5:3
n recebe